<html>
  <head>
    <title>Garden Monitor</title>
    <link rel="stylesheet" type="text/css" href='/static/style.css' />
    <body>
      <div id="container">
	<div id="header">
	  <h1>Garden Monitor</h1>
	</div>
	<div id="content">
	  <div id="nav">
	    <h3>History</h3>
	    <p align="left">
	      <ul>
		<li><a href='/maxsnapshoot/T0800.jpg'>08:00</a></li>
		<li><a href='/maxsnapshoot/T0900.jpg'>09:00</a></li>
		<li><a href='/maxsnapshoot/T1000.jpg'>10:00</a></li>
		<li><a href='/maxsnapshoot/T1100.jpg'>11:00</a></li>
		<li><a href='/maxsnapshoot/T1200.jpg'>12:00</a></li>
		<li><a href='/maxsnapshoot/T1300.jpg'>13:00</a></li>
		<li><a href='/maxsnapshoot/T1400.jpg'>14:00</a></li>
		<li><a href='/maxsnapshoot/T1500.jpg'>15:00</a></li>
		<li><a href='/maxsnapshoot/T1600.jpg'>16:00</a></li>
		<li><a href='/maxsnapshoot/T1700.jpg'>17:00</a></li>
		<li><a href='/maxsnapshoot/T1800.jpg'>18:00</a></li>
		<li><a href='/maxsnapshoot/T1900.jpg'>19:00</a></li>
		<li><a href='/maxsnapshoot/T2000.jpg'>20:00</a></li>
		<li><a href='/maxsnapshoot/T2100.jpg'>21:00</a></li>
		<li><a href='/maxsnapshoot/T2200.jpg'>22:00</a></li>
		<li><a href='/maxsnapshoot/T2300.jpg'>23:00</a></li>
		<li><a href='/maxsnapshoot/T0000.jpg'>00:00</a></li>
		<li><a href='/maxsnapshoot/T0100.jpg'>01:00</a></li>
		<li><a href='/maxsnapshoot/T0200.jpg'>02:00</a></li>
		<li><a href='/maxsnapshoot/T0300.jpg'>03:00</a></li>
		<li><a href='/maxsnapshoot/T0400.jpg'>04:00</a></li>
		<li><a href='/maxsnapshoot/T0500.jpg'>05:00</a></li>
		<li><a href='/maxsnapshoot/T0600.jpg'>06:00</a></li>
		<li><a href='/maxsnapshoot/T0700.jpg'>07:00</a></li>
	      </ul>
	    </p>
	  </div>
	  <div id="main">
	    <div id="main_header">
	      <h2>Current status</h2>
	    </div>
	    <div id="main_picture">
	      <a href='/maxsnapshoot/{{image}}'><img src="{{url_for('static', filename=image)}}" alt="My Image" width="600"></a>
	    </div>
	    <div id="main_footer">
	      <a href='/maxsnapshoot/{{image}}'>{{ timestamp }}</a>
	    </div>
	  </div>
	</div>
	<div id="footer">
	  <p align="right"><a href='/logout'>logout</a>
	</div>
      </div>
    </body>
</html>
